n8n-workflows/workflows/content-processing.json
{
  "name": "Content Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-content",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Content Processing Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "content-processing-webhook"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Simple validation and pass-through to Azure Functions\nconst { content_url, content_type, submission_id, metadata } = $input.first().json;\n\nconsole.log('n8n: Processing content submission:', { content_url, content_type, submission_id });\n\n// Basic validation\nif (!content_url || !content_type) {\n  throw new Error('Missing required fields: content_url and content_type');\n}\n\n// Pass data through to Azure Functions\nreturn [{\n  json: {\n    content_url,\n    content_type,\n    submission_id: submission_id || `sub_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n    metadata: metadata || {},\n    workflow_source: 'n8n'\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://podcast-gen-api.azurewebsites.net/api/content",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workflow-Source",
              "value": "n8n"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_url",
              "value": "={{$json.content_url}}"
            },
            {
              "name": "content_type",
              "value": "={{$json.content_type}}"
            },
            {
              "name": "submission_id",
              "value": "={{$json.submission_id}}"
            },
            {
              "name": "metadata",
              "value": "={{JSON.stringify($json.metadata)}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-azure-functions",
      "name": "Call Azure Functions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Handle Azure Functions response\nconst response = $input.first().json;\n\nconsole.log('n8n: Azure Functions response:', response);\n\n// Check if the API call was successful\nif (response.error) {\n  throw new Error(`Azure Functions Error: ${response.message || 'Unknown error'}`);\n}\n\n// Validate response structure\nif (!response.submission_id) {\n  throw new Error('Invalid response from Azure Functions: missing submission_id');\n}\n\n// Return success response\nreturn [{\n  json: {\n    success: true,\n    message: 'Content processing initiated via n8n',\n    submission_id: response.submission_id,\n    status: response.status || 'pending',\n    estimated_completion: response.estimated_completion,\n    content_url: response.content_url,\n    content_type: response.content_type,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "handle-response",
      "name": "Handle Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json)}}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Content Processing Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Azure Functions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Azure Functions": {
      "main": [
        [
          {
            "node": "Handle Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "content-processing-workflow",
  "tags": ["content", "processing", "podcast", "automation"]
}